{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/pages/about/style.css' %}">
{% endblock %}
{% block title_of_page %}УМНОЕ ОТКРЫТИЕ ДЛЯ ВАШЕГО АВТОМОБИЛЯ{% endblock %}
{% block content %}
<div class="container">
  <div class="group">
    <img src="{% static 'img/about/Group 1.png' %}" alt="">
  </div>
  <div class="info">
    <p>SMART OPEN — серия продуктов для ухода за автомобилями премиум-класса предназначена для профессионалов своего
      дела</p>
    <p>В торговой марке SMART OPEN представлены средства только высочайшего качества, способные эффективно и
      максимально деликатно справляться с любыми загрязнениями.
    </p>
    <p>Бренд SMART OPEN был создан в 2015 году и уже успел завоевать популярность и известность на рынке детейлинга.
    </p>
    <p>

      На данный момент в линейке продукции есть средства для мойки и консервации кузова, очистители экстерьера,
      очистки и консервации интерьера, мойки и консервации двигателя.</p>
  </div>
  <div class="group">
    <img src="{% static 'img/about/Group 2.png' %}" alt="">
  </div>
  <div class="info">
    <p>Команда разработчиков SMART OPEN строго относится к качеству выпускаемых продуктов, постоянно совершенствуя
      их составы и расширяя линейку продукции.</p>
    <p>Контроль качества начинается с сырья и осуществляется на каждом этапе производства. Высокотехнологичный
      процесс производства обеспечивает Вас передовыми продуктами, способными придать автомобилю превосходный
      внешний вид.</p>
    <p>На сегодняшний день продукция SMART OPEN реализуется в России, странах СНГ и Европе.</p>
  </div>
</div>
{% endblock %}